.cookiefirst-root > div > div > div{
  max-width:1200px!important;
  margin:auto!important;
  min-width:auto!important;
}

.cookiefirst-root button{
  color:#000!important;
  appearance: none!important;
  background:none!important;
  border-bottom:1px solid #000!important;
  border:0!important;
}

.cookiefirst-root [data-cookiefirst-button="primary"]{
 color:#000!important;
  appearance: none!important;
  background:none!important;
  border-bottom:1px solid #000!important;
  border:0!important;
}

.cookiefirst-root > div > div > div:nth-child(2){
  flex-direction:column!important;
}