@font-face {
  font-family: 'sangblue';
  src: url('../fonts/sangbleu_sunrise.woff2'), url('../fonts/sangbleu_sunrise.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'sangblue';
  src: url('../fonts/sangbleu_sunrise_bold.woff2'), url('../fonts/sangbleu_sunrise_bold.woff');
  font-weight: bold;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
  color:#000;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html{scroll-behavior:smooth}

b{
  font-weight: bold;
}

a{
  color:#000;
  border-bottom:2px solid #FFD516;
  text-decoration: none;
  transition: color .3s;
}

a:hover{
  color:#FFD516;
}
	
body{
  font-size:26px;
  line-height:1.4em;
  font-family: 'sangblue';
}

#header{
  position:absolute;
  z-index:2;
  top:20px;
  left:30px;
}

.container{
  max-width:900px;
  margin:auto;
  padding: 15px;
}
p{
  margin-bottom:40px;
}

.intro{
  margin-bottom:40px;
}

.header-page{
  height:95vh;
  overflow:hidden;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#000;
}

.video-box{
  width: 100%;
    height: inherit;
    min-height: 500px;
    color: #fff;
    transform-style: preserve-3d;
    padding-bottom: 4rem;
}

.video-box .slide{
  position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    z-index: 4;
    opacity: 0;
    transition: all .4s ease-in-out;
    overflow: hidden;
}

.video-box .slide.active{
  z-index: 3;
    opacity: 1;
}

.video-box video{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .4s;
}

.slide-bg{
  position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transform: translateY(-5%) scale(1.1);
    opacity: 0;
    transition: all 1.2s ease-in-out;
    background-color: #000;
}

.active .slide-bg{
  transform:none;
  opacity:1;
}



.header-page .arrow-down{
  position:absolute;
  z-index:5;
  bottom:10px;
  width:100%;
  left:0;
  display: flex;
  justify-content: center;
  animation: arrowDown 1s linear infinite;
  
}
.video-box .arrow-down a{
  display:inline-block;
  border:0!important;
}

.arrow-down a{
  border:0!important;
}



.intro{
  padding-top:50px;
}

.intro h1{
  font-size:36px;
  line-height:1.4em;
  font-weight: normal;
  margin:0;
  padding:0;
}

#main{
  padding-bottom:20px;
}

.btn{
  margin:70px 0 50px;
}

.btn a{
  color:#FFD516;
  border:2px solid #FFD516;
  padding:10px 20px;
  display:inline-block;
  text-decoration: none;
  transition:all .3s;
}

.btn a:hover{
  color:#fff;
  background-color:#FFD516;
}

#footer{
  border-top:1px solid #D9D9D9;
  padding-top:20px;
}

#footer .cols-footer{
  display:flex;
  font-size:18px;
  line-height:1.65em;
}

#footer .cols-footer a{
  color:#000;
  border:none;
}

#footer .cols-footer a:hover{
  color:#FFD516;
  border-bottom:2px solid #FFD516;
}

#footer .cols-footer > div:first-child{
  width:350px;
  padding-right:30px;
}

#footer .cols-footer > div:nth-child(2){
  width:400px;
  padding-right:30px;
}


#footer .cols-footer > div:nth-child(3){
  width:150px
}

.flexslider-mobile{
  display:none;
}

.marquee{
  position:absolute;
  z-index:1000;
  color:#fff;
  bottom:100px;
  overflow:hidden;
  width:100%;
  height:300px;
}

.marquee_inner{
  display:flex;
  align-items: flex-end;
  font-size:130px;
  line-height:130px;
  height:300px;
  position:absolute;
  z-index:1000;
  left:100%;
  animation: marquee 25s linear infinite;
  width:300%;
}

.marquee_inner span{
  display:block;
  width:100%;
}

.marquee_inner span:nth-child(2){
  margin-top:auto;
  margin-bottom:auto;
}

@keyframes arrowDown{
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes marquee {
  0% {
      transform: translate3d(0, 0, 0);
  }

  100% {
      transform: translate3d(-120%, 0, 0);
  }
}

.basic-page #main{
  padding-top:300px;
}

.basic-page #main h1{
  font-size:36px;
  padding-bottom:30px;
}

.first-video video{
  background:url('/assets/img/poster-video-1.jpg') no-repeat center center;
  background-size:cover;
}

@media screen and (max-width:768px){
  .basic-page #main{
    padding-top:200px;
  }
  body{
    font-size:20px;
    line-height:1.3em;
  }
  #footer .cols-footer{
    flex-direction:column;
  }
  .intro{
    padding-top:10px;
  }
  .intro h1{
    font-size:24px;
    line-height:33px;
  }
  .header-page{
    height:500px;
  }
  #footer .cols-footer > div{
    padding-right:0!important;
    width:100%!important;
    padding-bottom:20px;
  }
  .logo img{
    max-width:75%;
  }
  .header-page .text-animation{
    font-size:70px;
    line-height:70px;
  }
  /* .slider-mobile-images .video-box{
    display:none!important;
  } */
  .slider-mobile-images .flexslider-mobile{
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    height:500px;
    width:100%;
  }
  .slider-mobile-images .flexslider-mobile li{
    height:500px;
    
  }

  .slider-mobile-images .flexslider-mobile img{
    object-fit: cover;
    height:100%;
    width:100%;
  }
  .flex-direction-nav{
    display:none;
  }

  .marquee{
    bottom:60px;
    height:250px;
  }

  .marquee_inner{
    animation: marquee 15s linear infinite;
    font-size:70px;
    bottom:70px;
    height:180px;
    bottom:0;
  }

  .marquee_inner span{
    padding-right:50px;
  }
  @keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
  
    100% {
        transform: translate3d(calc(-120% - 190px), 0, 0);
    }
  }
}